<!DOCTYPE html>
<ul>
    <li><%= image_tag 'ホーム.png',id:'side_img'%><%= link_to 'ホーム', "/tweets/　" ,id:'side_text'%></li>
    <li><%= image_tag '話題検索.png',id:'side_img'%><%= link_to '話題を検索', "/tweets/　",id:'side_text'%></li>
    <li><%= image_tag '通知.png',id:'side_img'%><%= link_to '通知', "/tweets/　",id:'side_text'%></li>
    <li><%= image_tag 'メッセージ.png',id:'side_img'%><%= link_to 'メッセージ', "/tweets/　",id:'side_text'%></li>
    <li><%= image_tag 'ブックマーク.png',id:'side_img'%><%= link_to 'ブックマーク', "/tweets/　",id:'side_text'%></li>
    <li><%= image_tag 'リスト.png',id:'side_img'%><%= link_to 'リスト', "/tweets/　",id:'side_text'%></li>
    <li><%= image_tag 'プロフィール.png',id:'side_img'%><%= link_to 'プロフィール', "/tweets/　",id:'side_text'%></li>
    <li><%= image_tag 'もっと見る.png',id:'side_img'%><%= link_to 'もっと見る', "/tweets/　",id:'side_text'%></li>
</ul>
<p><%= link_to 'ツイートする', '/tweets/new' ,id:'side_tweet'%></p>

